# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

project:
  比特币: /categories/bitcoin || false
  以太坊: /categories/ethereum || false
  EOS: /categories/EOS || false
  Fabric: /categories/Fabric || false
  IPFS: /categories/IPFS || false
  FileCoin: /categories/FileCoin || false

project_icons:
  enable: true

# Site
title: 深入浅出区块链
subtitle: 系统学习区块链技术
description: 专业的区块链技术博客
author: LBC-Team
language: zh-CN
timezone: Asia/Shanghai

# Set default keywords (Use a comma to separate)
keywords: "区块链技术, Learn BlockChain,系统学习区块链, 区块链导航, 以太坊, solidity, 比特币, 教程, 课程, EOS, IPFS, 钱包, FileCoin, Plasma "

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://learnblockchain.cn
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
- 'robots.txt'

# Writing
new_post_name: :year/:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 15
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
  以太坊: ethereum
  比特币: bitcoin
  钱包: wallet
  密码学: cryptography
  跨链: cross_chain
  其他: other
  技术工坊: dev_meeting
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss


# index2 generator是否包含官方的hexo-generator-index，默认true（包含）
index2_include_index: true # defult is true

# 配置index2 generator，可以是数组或对象
index2_generator:
  per_page: 20
  order_by: -date
  include:

  exclude:
    - category 技术工坊 # 不包含分类为Hexo的文章
    - path 2019/wallet-dev-guide.md

# Pagination
## Set per_page to 0 to disable pagination

pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next


# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@github.com:lbc-team/learnblockchain.git
  branch: master

sitemap:
  path: sitemap.xml
  template: ./sitemap_template.xml

# algolia:
#   applicationID: 'ERVKOTY9C3'
#   apiKey: '145d6b00595f05cb28bf9c6e3c5bdbc3'
#   adminApiKey: 'dd88cfd44148585bff97b7de2999f9e1'
#   indexName: 'learnblockchain'
#   chunkSize: 5000

# https://github.com/iissnan/theme-next-docs/issues/162

algolia:
  applicationID: 'UT2K1ZRSWK'
  apiKey: '0bbb261dfad58df8f8a657a1ed3255cd'
  adminApiKey: '8bc1e78669a4ae726c48a0ac5e20b39d'
  indexName: 'learnblockchain'
  chunkSize: 5000

search:
  path: search.xml
  field: post
  format: html
  limit: 10000


feed:
  type: atom
  path: atom.xml
  limit: 20


symbols_count_time:
  symbols: true
  time: true
  total_symbols: false
  total_time: false
  awl: 2
  wpm: 250  # 每分钟字数