// Custom styles.

.site-author-image {
    width: 130px;
}

.content-wrap {
    padding: 6px 40px;
}  

.posts-expand {
  .post-eof {
    margin: 70px auto 50px;

     +mobile(){
         margin: 40px auto 30px;
     }

  }
}
